* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --bg: #0f1115;
  --surface: #161a22;
  --surface-2: #1c2230;
  --text: #eaeaea;
  --muted: #a0a0a0;
  --accent:#5834eb;
  --accent-2: #ffe1d6;
  --border: #2a2f3a;
  --border-2:#464c52;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 48px;
}

::selection {
  background: var(--accent);
  color: #fff;
}