/* =========================
   ARTICLE VIEWER
========================= */

.mainContainer {
  max-width: 1100px;
  margin: var(--space-7) auto;
  padding: 0 var(--space-5);
}

.mainLayout {
  display: flex;
  flex-direction: column;
  gap: var(--space-7);
}

/* =========================
   HEADER
========================= */

.headerLayout {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.headerTitle {
  margin-bottom: var(--space-3);
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-heading);
}


/* =========================
   PAGES
========================= */

.pagesLayout {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.pageImage {
  display: block;
  width: 100%;
  height: auto;

  background: rgb(255 255 255 / 2%);
  border: 1px solid rgb(255 255 255 / 2%);
  border-radius: var(--radius-xl);

  opacity: 0;
  transition: opacity 0.3s ease;
}

.pageImage.loaded {
  opacity: 1;
}

.backButton {
  width: 100%;
  
  padding: var(--space-1) 0;

  font: inherit;
  color: var(--text);

  background:rgb(255 255 255 / 2%);;
  border: 1px solid rgb(255 255 255 / 2%);
  border-radius: none;

  cursor: pointer;
  transition:
    background-color 0.1s ease;
}

.backButton:hover {
  background: rgb(255 255 255 / 4%);
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {
  .mainLayout {
    gap: var(--space-5);
  }

  .pagesLayout {
    gap: var(--space-5);
  }
}
